*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden; /* 가로 스크롤 숨김 */
  overflow-y: scroll; /* 세로 스크롤은 항상 표시 */
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  color: black;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit; /* 부모 요소의 폰트 계승 */
  font-size: inherit; /* 부모 요소의 폰트 크기 계승 */
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  appearance: none; /* 브라우저 기본 스타일 제거 */
  box-shadow: none; /* 브라우저 기본 그림자 제거 */
  outline: none; /* 기본 outline 제거 */
}

button {
  cursor: pointer;
}

select {
  background: none;
  border: none;
  padding: 0;
}

/* 리스트 초기화 */
ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  width: 100%;
}

/* a 링크 초기화 */
a {
  text-decoration: none;
  color: inherit;
}
